body {
    height: 100%;
    width: 100%;
    background-color: #4aaaa5;
}

.header {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-left: 20px;
}

.headers {
    color: white;
    font-size: 20px;
    text-align: center;
}

.nav {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 10px;
    margin-left: 20px;
}

.navs {
    color: white;
    font-size: 20px;
    text-align: center;
}

.section {
    width: 50%;
    height: 450px;
    background-color: black;
    padding: 10px;
    margin-top: 15px;
    margin-left: 20px;
    float: left;
}

.sections {
    font-size: 20px;
    color: white;
    text-align: center;
}

.article {
    width: 90%;
    height: 350px;
    background: grey;
    margin-left: 50px;
}

.articles {
    color: white;
    text-align: center;
}

.underArt {
    width: 90%;
    height: 110px;
    margin-top: 10px;
    background-color: white;
    margin-left: 32px;
}

.underArts {
    font-size: 20px;
    color: red;
    text-align: center;
}

.paragraph {
    width: 90%;
    height: 150px;
    margin-top: 10px;
    background-color: white;
    margin-left: 32px;
}

.paragraphOne {
    padding: 8px;
    font-size: 14px;
}

.aside {
    width: 43%;
    height: 450px;
    margin-top: 15px;
    padding: 10px;
    margin-left: 20px;
    float: left;
    background-color: black;
}

.wordsAside {
    font-size: 20px;
    color: white;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.footers {
    font-size: 20px;
    color: white;
    text-align: center;
}